* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

h2 {
  font-size: 1.75rem;
}

header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-design {
  background-color: #0891b2;
  height: 1000px;
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0;
  transform: skewY(-10deg) translateY(-600px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: -1;
}

header .image-container {
  max-width: 350px;
  width: 100%;
  position: relative;
}

header .image-container picture {
  width: 100%;
  display: block;
}

header .image-container h1 {
  position: absolute;
  font-size: 2rem;
  bottom: 5px;
  left: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
  overflow-wrap: break-word;
  word-break: break-word;
}

header .image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.about-me {
  background-color: white;
  max-width: 500px;
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
}

.about-me h2 {
  margin-bottom: 30px;
}

.about-me .links {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.about-me .links img {
  display: inline;
  width: 40px;
}

main {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  width: 100%;
  max-width: 1400px;
}

.projects h2 {
  margin-bottom: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
}

.project {
  min-height: 400px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.project .image-container {
  height: 250px;
  border: black 1px solid;
}

.project img {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
}

.project .details {
  padding: 20px;
}

.project .title {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.project h3 {
  font-weight: 600;
  font-size: 1.25rem;
}

.project .links {
  display: flex;
  gap: 10px;
}

.project .links img {
  height: 25px;
}

footer {
  display: flex;
  padding: 50px;
  background-color: #0891b2;
  margin-top: 100px;
  justify-content: center;
  max-height: 1000px;
  word-wrap: break-word;
}

footer picture {
  display: block;
  height: 500px;
}

footer picture img {
  height: 100%;
}

footer .contact {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 225px;
  color: white;
  gap: 20px;
  font-size: 1.2rem;
}

footer p>img {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(141deg) brightness(102%) contrast(101%);
  width: 30px;
  transform: translateY(10px);
  margin-right: 10px;
}

footer h2 {
  font-size: 3.125rem;
  font-weight: 400;
}

footer .links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

footer .links img {
  width: 50px;
}

@media screen and (max-width: 1200px) and (min-width: 601px) {
  header {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-top: 100px;
  }

  header .image-container h1 {
    transform: translate(270px, -250px);
    color: white;
    font-size: 2rem;
    white-space: nowrap;
  }

  header h2 {
    margin-left: 10px;
    margin-top: 20px;
  }

  .about-me {
    max-width: 1000px;
  }

  .about-me p {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  header .image-container {
    float: left;
    margin-right: -80px;
    margin-bottom: -80px;
    left: -100px;
    top: -100px;
  }

  .project-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header .image-container h1 {
    font-size: 4rem;
  }

  header .about-me {
    box-shadow: none;
    text-align: center;
  }

  main h2 {
    text-align: center;
  }

  .about-me .links {
    margin-top: 20px;
    justify-content: center;
  }

  h2 {
    font-size: 2.25rem;
  }

  .about-me p {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

  footer {
    flex-direction: column;
    padding-bottom: 0;
  }

  footer h2 {
    align-self: center;
  }

  footer picture img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
  }

  footer p>img {
    display: none;
  }

  footer .links {
    justify-content: center;
  }
}